<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sikandar.rahnuma_tourist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDeWGd2gMSQnIlGrfTUE8njANCz-q-EDsI" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Rahnuma Tourist"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDeWGd2gMSQnIlGrfTUE8njANCz-q-EDsI" />

        <activity android:name=".tourist_login">

        </activity>
        <activity android:name=".tourist_signup" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".Main6Activity" />
        <activity android:name=".SmsActivity"></activity>

        <activity android:name="com.example.sikandar.rahnuma_tourist.Splash"
            android:theme="@style/AppTheme2"
            >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>